* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContenedor {
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: rgb(26, 23, 43);
}

.headerUno {
    width: 30%;
    height: 100%;
}

.imagenLogo{
    height: 100%;
    width: 100%;
}

.headerDos {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.ulHeader {
    display: flex;
    list-style-type: none;
    
}

.ulHeader a {
    text-decoration: none; 
}

.ulHeader li {
    margin-right: 15px; 
    color: white;
    font-size: 1.3rem;
}

/* MAIN - PRESENTACION*/

.presentacion {
    width: 100%;
    background-color: rgb(14, 14, 41);
    display: flex;
    height: 100vh;
    color: white;
}

.presentacionMain .fotoMain {
    width: 50%;
    display: flex;
     /* Alinea la imagen al final del contenedor verticalmente */
}

.tituloMain{
    margin-top: 50px;
}

.imagenMain {
    width: 50%;
    height: 80%;
    align-self: flex-end;
    margin-top: 20px;
    margin-left: 300px;
}

.btnCotizacion{
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(177, 230, 212);
    font-size: 1rem;
}

/* MAIN - SERVICIOS */

.servicios {
    background-color: rgb(234, 234, 160);
    height: 100vh;
    text-align: center;
    background-color: rgb(43, 43, 79);
    color: white;
}

.serviciosTexto{
    height: 20vh;
    background-color: rgb(203, 163, 163);
}

.serviciosImagenes{
    height: 80vh;
    padding: 50px;
    display: flex;
}

.serviciosFotos{
    padding: 20px;
}

.tituloServicios {
    font-size: 2rem;
    font-weight: bold;
    padding-top:  20px; /* Ajusta según sea necesario */
}

.subtServicios {
    font-size: 1.4rem;
    padding-top: 30px; /* Ajusta según sea necesario */
}